@model MyShop.Core.ViewModels.Users.AccountRegisterVm
@{
    ViewData["Title"] = "پایان ثبت نام";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" asp-area="">دیجیتال دیوایس</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"] </li>
    </ul>
</nav>

<div class="alert alert-info">
    <h2>@Model.UserName عزیز !</h2>
    <p>ثبت نام شما با موفقیت انجام شد ، ایمیلی حاوی لینک فعالسازی برای شما ارسال شد .</p>
    <p>جهت ادامه ثبت نام وارد ایمیل خود شوید و روی لینک کلیک کنید .</p>
</div>